* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: large;
    border: none;
}

.caixa {
    border: 5px solid #000000;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.form-group label {
    cursor: pointer;
    margin-bottom: 3px;
}

.form-group input {
    border: 1px solid #3d3d3d;
    border-radius: 5px;
    padding: 5px;
}

.form-buttons {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-buttons button {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #3d3d3d;
    color: #ffffff;
}

.form-buttons button:hover {
    background-color: #525252;
}